<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="svg-background" aria-label="Content">
    <div class="wrapper splash-wrapper">
      <h1 class="page-splash-title">
        Pisara Analytics
      </h1>
      <p class="page-lead">
        Helping companies and organizations with data engineering, AI and SQL optimization
      </p>
    </div>
      </main>
    {%- include footer.html -%}

  </body>

</html>
